* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 300vh;
  background-color: black;
}



.header {
  height: 100vh;
  background-color: black;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: linear-gradient(
      to bottom,
      rgba(66, 66, 75, 0.1),
      rgb(0, 0, 0)
    ),
    url('https://uploads.guim.co.uk/2020/03/20/cheng-feng-4pTY4ty7jXM-unsplash_30.jpg');
}

.nav-bar {
  
  /* background-color: rgba(57, 60, 65, 0.7); */
  text-align: right;
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}


.icon {
  display: flex;
  margin: 0rem;
  font-size: 2.2rem;
  padding: .7rem;
}

.icon:hover{
  
  transform: scale(1.07) ;
}

.name {
  font-size: 3rem;
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin: 1rem;
  color: #fff;
  text-shadow: 0 0 8px hsla(0,0%,100%,.33);
}


.job {
  font-size: 2.4rem;
  display: flex;
  color: white;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 8px hsla(0,0%,100%,.33);
}


p {

  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;

}


.buttons {
  display: flex;
  
}

.work-btn {
  text-transform: uppercase;
  margin-top: 2rem;
  width: 15vw;
  height: 7vh;
  font-size: 1.2rem;
  background-color: rgba(255, 0, 106, 0.3);
  color: white;
  border: none;
  min-height: 40px;
  min-width: 50px;
  outline: none;
  padding: 1rem;
  
}

.work-btn:hover {
  background-color: rgba(255, 0, 106, 0.5);
  transform: scale(1.07) ;
}

.work-btn:active {
  outline: none;
}


@media only screen and (max-width: 500px) {
  .name {
    font-size: 2rem;
  }
  .job {
    font-size: 1.5rem;
}
  .work-btn {
    width: 14rem;
    height: 2rem;
  }


}

#projects {
  height: 100vh;
  background-color: black;
  width: 100%;
  margin: auto;
  text-align: center;
  display: inline-block;
 
}

.project-container {

  width: 100%;
  height: 75vh;
  position: relative;
 
}

.project-image {

  width: 50%;
  height: 70%;
  margin-right: 3rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  position: relative;
  float: right;

}

.project-text {
  font-size: 1.6rem;
  margin: 2rem 2rem 2rem 4rem ;
  color: white;
  width:55%;
  
  text-align: left;
  float: left;
  
}

.centered-btn {

  margin: auto;

}

#about {
  height: 100vh;
  background-color: black;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgba(66, 66, 75, 0.1),
    rgb(0, 0, 0)
  ),
  url('https://uploads.guim.co.uk/2020/03/20/sean-foley-vjVStBBqDgU-unsplash_29.jpg');
}

.container {
  padding: 3rem 4.5rem;
  height: 65%;
  width: 75%;
  background-color: rgba(172, 61, 94, 0.458);
  background-image: linear-gradient(
    to top,
    rgba(66, 66, 75, 0.1),
    rgb(0, 0, 0, 0.4)
  );
  line-height: 2.1rem;
  overflow: scroll;
}

.footer {

  height: 100vh;
  background-color: black;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}




/* .footer-image {

  display: flex;
 
  width: 30rem;
  height: 300px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgba(66, 66, 75, 0.1),
    rgb(0, 0, 0)
  ),
  url('https://uploads.guim.co.uk/2020/03/20/francois-hoang-O98B_D0kxyA-unsplash_1_29_1_300x300.jpg');
}
 */

.cyber-button {
  position: absolute;
  top: 3px; /* equal to border thickness */
  left: 3px; 
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Orbitron', cursive;
  height: 38px;
  width: 240px;
  letter-spacing: 2px;
  line-height: 17px;
  outline: none;
  padding: 0 10px;
  background: rgb(2, 2, 2);
  color: white;
  font-size: 1.8rem;
  clip-path: polygon(0% 0%,  100% 0%, 100% 70%, 90% 100%, 0% 100%); 

}

.cyber-button-border {
  display: inline-block;
  position: relative;
  width: 246px;
  height: 44px;
  background: white;
  clip-path: polygon(0% 0%,  100% 0%, 100% 70%, 90% 100%, 0% 100%); 

}

.cyber-button-border:hover {
  animation: flash .2s;
  animation-iteration-count: 3;
  
}

.cyber-button:hover {
  animation: background-change .9s .6s forwards;
 
  
}

@keyframes flash {
  
  50%{
      background: rgb(142, 153, 153);
  }
 
  100% {
      background: white;
  }
}

  @keyframes background-change {

      0% {
          background: rgb(142, 153, 153);
      }
      100% {
          background: white;
          color:rgb(53, 56, 56);
      }
  }